:root {
    --accent-color: #03998b;
    --accent-color-dark: #008276;
    --text-color: #212121;
    --backgroung-color: #f0f0f0;
}
body {
    color: var(--text-color);
    background: var(--backgound-color);
    line-height: 1.2;
    margin: 20px 0;
    font: 1em "Helvetica", "Monsterrat", "Arial";
}
#resume {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px 30px;
    background: var(--background-color);
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 4px #AAAAAA;
    -webkit-box-shadow: 2px 2px 4px #AAAAAA;
}
h1 {
    
    color: var(--accent-color);
    text-transform: uppercase;
    text-align: center;
    font-size: 200%;
    margin: 0;
    padding-bottom: 5px;
}
h2 {

    color: var(--accent-color);
    border-bottom: 0.5px solid var(--accent-color);
    /*text-transform: uppercase;*/
    font-size: 16px;
    font-weight: 600;
    margin: 13px 0 0 0;
    padding: 0;
}
h3 {
    font-size: 100%;
    margin: 0.8em 0 0.12em 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
p {
    margin: 0 0 0 0;
    padding: 0;
    }
ul {
    padding: 2px;
    margin: 0 1.5em;
    }
    li {
        padding-top: 3.5px;
    }
/* ul immediately after h1 = contact list */
h1 + ul {
    text-align: center;
    margin: 0;
    padding: 0;
    }
h1 + ul > li {
    display: inline;
    white-space: pre;
    list-style-type: none;
}
h1 + ul > li:after {
    content: "  \2022  ";
}
h1 + ul > li:last-child:after {
    content: "";
}
/* p immediately after contact list = summary */
h1 + ul + p {
    margin: 1.5em 0;
}

a, a:link, a:visited  {
    color: #0969DA;
    text-decoration: none;
}

a:hover{

    color: var(--accent-color)
    text-decoration: underline;
}

.link{
    display: inline;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
}
.technologies {
    font-weight: 600;
    color: var(--accent-color);
    font-size: 13px;
}
.marks {
    font-weight: 300;
    display: inline;
}
.project-heading{
    font-size: 15px;
}
.ed-heading{
    margin: 0;
    padding: 0;
}

@media print {
    body {
        font-size: 11pt;
        margin: 0;
        padding: 0;
        background: none;
    }
    #resume {
        margin: 15px 7.5px 15px 7.5px;
        padding: 0;
        border: 0px;
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    /* Make links black in PDF */
    /* Move this outside the print block to apply this in HTML too */
    a, a:link, a:visited, a:hover {
        color: var(--accent-color-dark);
    }
}
@page {
    /* Change margins and paper size of PDF */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
    size: A4;
    margin: 0.2in 0.3in;
}
@media screen and (max-width: 800px) {
    body {
        font-size: 16pt;
        margin: 0;
        padding: 0;
        background: #FFFFFF !important;
    }
    #resume {
        margin: 0;
        padding: 1em;
        border: 0px;
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .project-heading{
        font-size: 15px;
    }
}
